<ul class="list-group">

    {% if menus %}
        {% for menu in menus %}
            {% if page.tree == menu.href %}
                {% assign submenu = menu.menu %}                
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if submenu %}
    <li class="list-group-item list-group-item-action active">
        Jiny Framowrk
    </li>

        {% for submenu in submenu %} 
            {% if url == submenu.href %}
            <li class="list-group-item list-group-item-secondary">
            {% else %}
            <li class="list-group-item list-group-item-action">
            {% endif %} 
            
            {% if submenu.menu %}
            <a href="#collapseOne" data-toggle="collapse">{{ submenu.name }}</a>

            {% if submenu.menu | size %}
            <span class="badge badge-primary badge-pill">{{submenu.menu | size}}</span>
            {% endif %}

            <ul id="collapseOne" class="collapse">
                {% for sub in submenu.menu %}
                <li>
                    <a href="{{ sub.href }}">{{ sub.name }}</a>
                </li>
                {% endfor %}
            </ul>

            {% else %}
            <a href="{{ submenu.href }}">{{ submenu.name }}</a>
            {% endif %}

            </li>
        {% endfor %}

    {% endif %}
</ul>