---
category: setup
submenus:
    -
        name: PHP설치
        link: /php/setup
    -
        name: 윈도우
        link: /php/setup/windows       
    - 
        name: 맥
        link: /php/setup/mac
    - 
        name: 리눅스
        link: /php/setup/linux
---
<div class="container">
	{% if page.title %}
    <h1 class="mt-4 mb-3">{{ page.title }}
        <small>{{ page.subtitle }}</small>
	</h1>
	{% endif %}
    
   
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="/php/">php</a>
        <span class="breadcrumb-item active">{{page.category}}</span>
    </nav>
        
    <!-- Content Row -->
    <div class="row">      
        
        <!-- 본문내용 -->
        <div class="col-lg-9 mb-4">
			{{ content }}
        </div>

        <!-- 좌측메뉴 -->
        <div class="col-lg-3 mb-4">
			<div class="list-group">
                {% if page.submenus %}                    
                    {% for submenu in page.submenus %}
                        {% if url == submenu.link %}
                            <a href="{{submenu.link}}" class="list-group-item active">{{ submenu.name }}</a>
                        {% else %}
                            <a href="{{submenu.link}}" class="list-group-item">{{ submenu.name }}</a>   
                        {% endif %}                      
                    {% endfor %}                  
                {% endif %}
            </div>                
        </div>

    </div>
    <!-- /.row -->
</div>