---
submenus:
    -
        name: 공지사항
        link: /post
---

<div class="container">
	{%- if Page.title -%}
    <h1 class="mt-4 mb-3">{{- Page.title -}}
        <small>{{- Page.subtitle -}}</small>
	</h1>
	{%- endif -%}
        
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/">Home</a>
        <a class="breadcrumb-item" href="/jiny/">Jiny</a>
        <span class="breadcrumb-item active">intro</span>
    </nav>
        
    <!-- Content Row -->
    <div class="row">      
        
        <!-- 본문내용 -->
        <div class="col-lg-9 mb-4">
			{{- content -}}
        </div>

        <!-- 좌측메뉴 -->
        <div class="col-lg-3 mb-4">
			<div class="list-group">
                {%- if page.submenus -%}                    
                    {%- for submenu in page.submenus -%}
                        {%- if url == submenu.link -%}
                            <a href="{{-submenu.link-}}" class="list-group-item active">{{- submenu.name -}}</a>
                        {%- else -%}
                            <a href="{{-submenu.link-}}" class="list-group-item">{{- submenu.name -}}</a>   
                        {%- endif -%}
                        
                        {%- if submenu.menu -%}
                            {%- for sub in submenu.menu -%}
                            <a href="{{sub.link}}" class="list-group-item">- {{- sub.name -}}</a> 
                            {%- endfor -%}
                        {%- endif -%}
                        
                    {%- endfor -%}                  
                {%- endif -%}
            </div>
            <br>
            
<!--구글 좌측광고-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3321560028329475"
     data-ad-slot="7541073160"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

        </div>

    </div>
    <!-- /.row -->
</div>