<configuration>
    <system.webServer>
        
		<rewrite>
		<rules>
			<!--# 쿼리스트링-->
			<rule name="가져온 규칙 1" stopProcessing="true">
			<match url="^" ignoreCase="false" />
			<conditions>
				<!--#리라이트 엔진을 활성화 합니다.-->
				<!--# 상태와 디렉토리 링크-->
				<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
				<!--조건 패턴이 지원되지 않습니다: -l.-->
			</conditions>
			<action type="Rewrite" url="index.php" appendQueryString="true" />
			</rule>
		</rules>
		</rewrite>

    </system.webServer>
</configuration>